delaunay_watershed_3d==0.3.5
  edt==2.4.0
    numpy==1.26.4
  meshio==5.3.5
    numpy==1.26.4
    rich==13.7.1
      markdown-it-py==3.0.0
        mdurl==0.1.2
      Pygments==2.17.2
  networkx==3.3
  numpy==1.26.4
  scikit-image==0.23.1
    imageio==2.34.0
      numpy==1.26.4
      pillow==10.3.0
    lazy_loader==0.4
      packaging==24.0
    networkx==3.3
    numpy==1.26.4
    packaging==24.0
    pillow==10.3.0
    scipy==1.13.0
      numpy==1.26.4
    tifffile==2024.2.12
      numpy==1.26.4
  scipy==1.13.0
    numpy==1.26.4
  trimesh==4.3.0
    numpy==1.26.4
matplotlib==3.8.4
  contourpy==1.2.1
    numpy==1.26.4
  cycler==0.12.1
  fonttools==4.51.0
  kiwisolver==1.4.5
  numpy==1.26.4
  packaging==24.0
  pillow==10.3.0
  pyparsing==3.1.2
  python-dateutil==2.9.0.post0
    six==1.16.0
napari==0.4.19.post1
  app-model==0.2.6
    in-n-out==0.2.0
    psygnal==0.11.0
    pydantic==2.6.4
      annotated-types==0.6.0
      pydantic_core==2.16.3
        typing_extensions==4.11.0
      typing_extensions==4.11.0
    pydantic-compat==0.1.2
      pydantic==2.6.4
        annotated-types==0.6.0
        pydantic_core==2.16.3
          typing_extensions==4.11.0
        typing_extensions==4.11.0
    typing_extensions==4.11.0
  appdirs==1.4.4
  cachey==0.2.1
    HeapDict==1.0.1
  certifi==2024.2.2
  dask==2024.4.1
    click==8.1.7
    cloudpickle==3.0.0
    fsspec==2024.3.1
    importlib_metadata==7.1.0
      zipp==3.18.1
    packaging==24.0
    partd==1.4.1
      locket==1.0.0
      toolz==0.12.1
    PyYAML==6.0.1
    toolz==0.12.1
  imageio==2.34.0
    numpy==1.26.4
    pillow==10.3.0
  jsonschema==4.21.1
    attrs==23.2.0
    jsonschema-specifications==2023.12.1
      referencing==0.34.0
        attrs==23.2.0
        rpds-py==0.18.0
    referencing==0.34.0
      attrs==23.2.0
      rpds-py==0.18.0
    rpds-py==0.18.0
  lazy_loader==0.4
    packaging==24.0
  magicgui==0.8.2
    docstring_parser==0.16
    psygnal==0.11.0
    QtPy==2.4.1
      packaging==24.0
    superqt==0.6.3
      Pygments==2.17.2
      QtPy==2.4.1
        packaging==24.0
      typing_extensions==4.11.0
    typing_extensions==4.11.0
  napari-console==0.0.9
    ipykernel==6.29.4
      comm==0.2.2
        traitlets==5.14.2
      debugpy==1.8.1
      ipython==8.23.0
        decorator==5.1.1
        jedi==0.19.1
          parso==0.8.4
        matplotlib-inline==0.1.6
          traitlets==5.14.2
        pexpect==4.9.0
          ptyprocess==0.7.0
        prompt-toolkit==3.0.43
          wcwidth==0.2.13
        Pygments==2.17.2
        stack-data==0.6.3
          asttokens==2.4.1
            six==1.16.0
          executing==2.0.1
          pure-eval==0.2.2
        traitlets==5.14.2
        typing_extensions==4.11.0
      jupyter_client==8.6.1
        jupyter_core==5.7.2
          platformdirs==4.2.0
          traitlets==5.14.2
        python-dateutil==2.9.0.post0
          six==1.16.0
        pyzmq==25.1.2
        tornado==6.4
        traitlets==5.14.2
      jupyter_core==5.7.2
        platformdirs==4.2.0
        traitlets==5.14.2
      matplotlib-inline==0.1.6
        traitlets==5.14.2
      nest-asyncio==1.6.0
      packaging==24.0
      psutil==5.9.8
      pyzmq==25.1.2
      tornado==6.4
      traitlets==5.14.2
    ipython==8.23.0
      decorator==5.1.1
      jedi==0.19.1
        parso==0.8.4
      matplotlib-inline==0.1.6
        traitlets==5.14.2
      pexpect==4.9.0
        ptyprocess==0.7.0
      prompt-toolkit==3.0.43
        wcwidth==0.2.13
      Pygments==2.17.2
      stack-data==0.6.3
        asttokens==2.4.1
          six==1.16.0
        executing==2.0.1
        pure-eval==0.2.2
      traitlets==5.14.2
      typing_extensions==4.11.0
    qtconsole==5.5.1
      ipykernel==6.29.4
        comm==0.2.2
          traitlets==5.14.2
        debugpy==1.8.1
        ipython==8.23.0
          decorator==5.1.1
          jedi==0.19.1
            parso==0.8.4
          matplotlib-inline==0.1.6
            traitlets==5.14.2
          pexpect==4.9.0
            ptyprocess==0.7.0
          prompt-toolkit==3.0.43
            wcwidth==0.2.13
          Pygments==2.17.2
          stack-data==0.6.3
            asttokens==2.4.1
              six==1.16.0
            executing==2.0.1
            pure-eval==0.2.2
          traitlets==5.14.2
          typing_extensions==4.11.0
        jupyter_client==8.6.1
          jupyter_core==5.7.2
            platformdirs==4.2.0
            traitlets==5.14.2
          python-dateutil==2.9.0.post0
            six==1.16.0
          pyzmq==25.1.2
          tornado==6.4
          traitlets==5.14.2
        jupyter_core==5.7.2
          platformdirs==4.2.0
          traitlets==5.14.2
        matplotlib-inline==0.1.6
          traitlets==5.14.2
        nest-asyncio==1.6.0
        packaging==24.0
        psutil==5.9.8
        pyzmq==25.1.2
        tornado==6.4
        traitlets==5.14.2
      jupyter_client==8.6.1
        jupyter_core==5.7.2
          platformdirs==4.2.0
          traitlets==5.14.2
        python-dateutil==2.9.0.post0
          six==1.16.0
        pyzmq==25.1.2
        tornado==6.4
        traitlets==5.14.2
      jupyter_core==5.7.2
        platformdirs==4.2.0
        traitlets==5.14.2
      packaging==24.0
      Pygments==2.17.2
      pyzmq==25.1.2
      QtPy==2.4.1
        packaging==24.0
      traitlets==5.14.2
    QtPy==2.4.1
      packaging==24.0
  napari-plugin-engine==0.2.0
  napari-svg==0.1.10
    imageio==2.34.0
      numpy==1.26.4
      pillow==10.3.0
    napari-plugin-engine==0.2.0
    numpy==1.26.4
    vispy==0.14.2
      freetype-py==2.4.0
      hsluv==5.0.4
      kiwisolver==1.4.5
      numpy==1.26.4
      packaging==24.0
  npe2==0.7.5
    appdirs==1.4.4
    build==1.2.1
      packaging==24.0
      pyproject_hooks==1.0.0
    psygnal==0.11.0
    pydantic==2.6.4
      annotated-types==0.6.0
      pydantic_core==2.16.3
        typing_extensions==4.11.0
      typing_extensions==4.11.0
    PyYAML==6.0.1
    rich==13.7.1
      markdown-it-py==3.0.0
        mdurl==0.1.2
      Pygments==2.17.2
    tomli_w==1.0.0
    typer==0.12.3
      click==8.1.7
      rich==13.7.1
        markdown-it-py==3.0.0
          mdurl==0.1.2
        Pygments==2.17.2
      shellingham==1.5.4
      typing_extensions==4.11.0
  numpy==1.26.4
  numpydoc==1.7.0
    Sphinx==7.2.6
      alabaster==0.7.16
      Babel==2.14.0
      docutils==0.20.1
      imagesize==1.4.1
      Jinja2==3.1.3
        MarkupSafe==2.1.5
      packaging==24.0
      Pygments==2.17.2
      requests==2.31.0
        certifi==2024.2.2
        charset-normalizer==3.3.2
        idna==3.7
        urllib3==2.2.1
      snowballstemmer==2.2.0
      sphinxcontrib-applehelp==1.0.8
      sphinxcontrib-devhelp==1.0.6
      sphinxcontrib-htmlhelp==2.0.5
      sphinxcontrib-jsmath==1.0.1
      sphinxcontrib-qthelp==1.0.7
      sphinxcontrib-serializinghtml==1.1.10
    tabulate==0.9.0
  pandas==2.2.2
    numpy==1.26.4
    python-dateutil==2.9.0.post0
      six==1.16.0
    pytz==2024.1
    tzdata==2024.1
  pillow==10.3.0
  Pint==0.23
    typing_extensions==4.11.0
  psutil==5.9.8
  psygnal==0.11.0
  pydantic==2.6.4
    annotated-types==0.6.0
    pydantic_core==2.16.3
      typing_extensions==4.11.0
    typing_extensions==4.11.0
  Pygments==2.17.2
  PyOpenGL==3.1.7
  PyYAML==6.0.1
  QtPy==2.4.1
    packaging==24.0
  scikit-image==0.23.1
    imageio==2.34.0
      numpy==1.26.4
      pillow==10.3.0
    lazy_loader==0.4
      packaging==24.0
    networkx==3.3
    numpy==1.26.4
    packaging==24.0
    pillow==10.3.0
    scipy==1.13.0
      numpy==1.26.4
    tifffile==2024.2.12
      numpy==1.26.4
  scipy==1.13.0
    numpy==1.26.4
  superqt==0.6.3
    Pygments==2.17.2
    QtPy==2.4.1
      packaging==24.0
    typing_extensions==4.11.0
  tifffile==2024.2.12
    numpy==1.26.4
  toolz==0.12.1
  tqdm==4.66.2
  typing_extensions==4.11.0
  vispy==0.14.2
    freetype-py==2.4.0
    hsluv==5.0.4
    kiwisolver==1.4.5
    numpy==1.26.4
    packaging==24.0
  wrapt==1.16.0
napari-plugin-manager==0.1.0a2
  npe2==0.7.5
    appdirs==1.4.4
    build==1.2.1
      packaging==24.0
      pyproject_hooks==1.0.0
    psygnal==0.11.0
    pydantic==2.6.4
      annotated-types==0.6.0
      pydantic_core==2.16.3
        typing_extensions==4.11.0
      typing_extensions==4.11.0
    PyYAML==6.0.1
    rich==13.7.1
      markdown-it-py==3.0.0
        mdurl==0.1.2
      Pygments==2.17.2
    tomli_w==1.0.0
    typer==0.12.3
      click==8.1.7
      rich==13.7.1
        markdown-it-py==3.0.0
          mdurl==0.1.2
        Pygments==2.17.2
      shellingham==1.5.4
      typing_extensions==4.11.0
  pip==24.0
  QtPy==2.4.1
    packaging==24.0
  superqt==0.6.3
    Pygments==2.17.2
    QtPy==2.4.1
      packaging==24.0
    typing_extensions==4.11.0
numba==0.59.1
  llvmlite==0.42.0
  numpy==1.26.4
pipdeptree==2.18.0
  packaging==24.0
  pip==24.0
polyscope==2.2.1
  numpy==1.26.4
pooch==1.8.1
  packaging==24.0
  platformdirs==4.2.0
  requests==2.31.0
    certifi==2024.2.2
    charset-normalizer==3.3.2
    idna==3.7
    urllib3==2.2.1
pyconify==0.1.6
  requests==2.31.0
    certifi==2024.2.2
    charset-normalizer==3.3.2
    idna==3.7
    urllib3==2.2.1
PyQt5==5.15.10
  PyQt5-Qt5==5.15.2
  PyQt5-sip==12.13.0
setuptools==65.5.0
triangle==20230923
  numpy==1.26.4
